// Your variable overrides
// Grays
// -------------------------

$gray-darker:            #000; // BEFORE: lighten(#000, 13.5%); // #222
$gray-dark:              #000; // BEFORE: lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

// Background colors
// -------------------------

$white:      		#fff; //#F5F5F5; // Light Grey


// Brand Colors
$blue: 			      #3c00f5;
$blue-darker:         #23008e; // shadow
$blue-light: 	      #dfd4ff; // blue ligh when mouse is houver
$red: 			      #ff0000;
$red-darker:          #990012; // shadow
$red-light: 	      #ffb5be; // blue ligh when mouse is houver


$brand-color: 			    $red; // PINK OLD COLOR: #fe0000; //none-white-bg
$brand-color-darker: 	    $red-darker; // Old pink version #d00000; // shadow
$brand-color-darker-darker: $red-light; // old pink version #8c0000; // shadow & houver
$dark: 					   #111111; //none-white-bg
$indigo: 				   $palette-Indigo-400; //none-white-bg
$deep-purple: 			   #3c00f5; // HYPER SERIES COLOR
$lime: 					   #aeff2b;
$yellow: 				   #fffb2b; // $palette-Deep-Purple-50; //;
$yellow-light: 	           #fffc52;

// OTHER
$brand-primary:         #000;


// stylelint-disable value-keyword-case
$font-family-sans-serif: "Nunito Sans", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// Font weight
$font-weight-light:           400;
$font-weight-normal:          400;
$font-weight-bold:            600;
$headings-font-weight:        600;

// font colors
$body-color:                #000;

body.none-white-bg{
  color: $white;
}

// Links
$link-color:                #000;
$link-decoration:           none;
$link-hover-color:          none;
$link-hover-decoration:     underline;


// grid
$grid-columns:                48;
$grid-gutter-width:           30px;

// Container max with -- remove and keep just on big screens
$container-max-widths: (
	// sm: 540px,
  // md: 720px,
  // lg: 960px,
  xl: 1280px // 1200 + 40 + 0 -- before xl: 1140px
) !default;
