// colors
$white:      		        #fff;
$dark: 					        #000;
$dark-lighten-vibe: 		#16161a; //new *
$grey-light:            #eaeaea; //new
$grey-light-warm:       #deddd9; //new
$grey-light-warm-vibe:  #e1d0d0; //new
$grey-light-cold:       #e6e6eb; //new *
$grey-light-cold-vibe:  #e2e6f6; //new

$deep-purple: 		 #3c00f5;
$blue: 			       #3c00f5;
$red: 			       #ff0000;
$lime: 					   #aeff2b;
$yellow: 				   #fffb2b;
$yellow-light: 	   #fffc52;

//Terra pallet
$sky:              #adc8d9;
$sky-stormy:       #b2cde0; //new
$earth:            #d9a86c;
$ocker:            #8c5626;
$ocker-dark:       #5d3614; //new
$blue-earth: 			 #00349E;

// Index and Menu Colors
// Light Mode (default):
$tiagsssss-color: 			                 $grey-light-cold-vibe;
$tiagsssss-color-darken: 	               darken($tiagsssss-color,80%);
$tiagsssss-color-lighten:                lighten($tiagsssss-color,100%);
$tiagsssss-color-menu:                   $dark-lighten-vibe;
$tiagsssss-color-menu-contrast:          $grey-light-cold;
$tiagsssss-color-menu-font:              $white;
//Dark Mode
$tiagsssss-color-darkmode: 			         $dark-lighten-vibe;
$tiagsssss-color-darkmode-darken: 	     darken($tiagsssss-color-darkmode,80%);
$tiagsssss-color-darkmode-lighten:       lighten($tiagsssss-color-darkmode,100%);
$tiagsssss-color-darkmode-menu:          $grey-light-cold;
$tiagsssss-color-darkmode-menu-contrast: $grey-light-cold;
$tiagsssss-color-darkmode-menu-font:     $grey-light-cold;


// ---- Load font-style ----

// lack
@font-face {
    font-family: 'lackitalic';
    src: url('../fonts/lack/lack-italic-webfont.woff2') format('woff2'),
         url('../fonts/lack/lack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// @font-face {
//     font-family: 'lack_lineitalic';
//     src: url('../fonts/lack/lack-line-italic-webfont.woff2') format('woff2'),
//          url('../fonts/lack/lack-line-italic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }
// @font-face {
//     font-family: 'lack_lineregular';
//     src: url('../fonts/lack/lack-line-regular-webfont.woff2') format('woff2'),
//          url('../fonts/lack/lack-line-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'lackregular';
//     src: url('../fonts/lack/Lack-Regular.woff2') format('woff2'),
//          url('../fonts/lack/Lack-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// // Karrik
// @font-face {
//     font-family: 'Karrik';
//     src: url('../fonts/karrik/WOFF2/Karrik-Regular.woff2') format('woff2'),
//          url('../fonts/karrik/WOFF/Karrik-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Karrikitalic';
//     src: url('../fonts/karrik/WOFF2/Karrik-Italic.woff2') format('woff2'),
//          url('../fonts/karrik/WOFF/Karrik-Italic.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// //Cantique
// @font-face {
//     font-family: 'cantiquenormal';
//     src: url('../fonts/cantique/Cantique-Normal.woff2') format('woff2'),
//          url('../fonts/cantique/Cantique-Normal.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }

// // Mess
// @font-face {
//     font-family: 'Mess_Light';
//     src:    url('../fonts/mess/Mess-Light_web.eot');
//     src:    url('../fonts/mess/Mess-Light_web.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/mess/Mess-Light_web.woff') format('woff'),
//             url('../fonts/mess/Mess-Light_web.woff2') format('woff2'),
//             url('../fonts/mess/Mess-Light_web.ttf') format('truetype'),
//             url('../fonts/mess/Mess-Light_web.svg#svgFontName') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// Sporting Grotesque
@font-face {
    font-family: 'Sporting_Grotesque_Regular';
    src:    url('../fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.eot');
    src:    url('../fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('../fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('../fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('../fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sporting_Grotesque_Bold';
    src:    url('../fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.eot');
    src:    url('../fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
            url('../fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            url('../fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            url('../fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

// // Minipax
// @font-face {
//     font-family: 'Minipax-Bold';
//     src:    url('../fonts/Minipax/Minipax-Bold.eot');
//     src:    url('../fonts/Minipax/Minipax-Bold.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/Minipax/Minipax-Bold.woff') format('woff'),
//             url('../fonts/Minipax/Minipax-Bold.woff2') format('woff2'),
//             url('../fonts/Minipax/Minipax-Bold.ttf') format('truetype'),
//             url('../fonts/Minipax/Minipax-Bold.svg#svgFontName') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Minipax-Medium';
//     src:    url('../fonts/Minipax/Minipax-Medium.eot');
//     src:    url('../fonts/Minipax/Minipax-Medium.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/Minipax/Minipax-Medium.woff') format('woff'),
//             url('../fonts/Minipax/Minipax-Medium.woff2') format('woff2'),
//             url('../fonts/Minipax/Minipax-Medium.ttf') format('truetype'),
//             url('../fonts/Minipax/Minipax-Medium.svg#svgFontName') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Minipax-Regular';
//     src:    url('../fonts/Minipax/Minipax-Regular.eot');
//     src:    url('../fonts/Minipax/Minipax-Regular.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/Minipax/Minipax-Regular.woff') format('woff'),
//             url('../fonts/Minipax/Minipax-Regular.woff2') format('woff2'),
//             url('../fonts/Minipax/Minipax-Regular.ttf') format('truetype'),
//             url('../fonts/Minipax/Minipax-Regular.svg#svgFontName') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Minipax-SemiBold';
//     src:    url('../fonts/Minipax/Minipax-SemiBold.eot');
//     src:    url('../fonts/Minipax/Minipax-SemiBold.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/Minipax/Minipax-SemiBold.woff') format('woff'),
//             url('../fonts/Minipax/Minipax-SemiBold.woff2') format('woff2'),
//             url('../fonts/Minipax/Minipax-SemiBold.ttf') format('truetype'),
//             url('../fonts/Minipax/Minipax-SemiBold.svg#svgFontName') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// //Basteleur
// @font-face {
//     font-family: 'Basteleur-Bold';
//     src: url('../fonts/basteleur/Basteleur-Bold.woff2') format('woff2'),
//          url('../fonts/basteleur/Basteleur-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }
// @font-face {
//     font-family: 'Basteleur-Moonlight';
//     src: url('../fonts/basteleur/Basteleur-Moonlight.woff2') format('woff2'),
//          url('../fonts/basteleur/Basteleur-Moonlight.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }



//$font-family-sans-serif: "Nunito Sans", sans-serif;
$headings-font-family: "Sporting_Grotesque_Regular", sans-serif;//"lackitalic", sans-serif;
$font-family-sans-serif: "Sporting_Grotesque_Regular", sans-serif;//"lackregular or Sporting_Grotesque_Regular or Minipax-Regular", sans-serif;

// Font Size
$font-size-p:           16px;
$font-size-heading:           23px;
$font-size-meta-info:           14px;

// Font weight
$font-weight-light:           400;
$font-weight-normal:          400;
$font-weight-bold:            400;
$headings-font-weight:        400;



// font colors
$body-color:                #000;


// Links
$link-color:                #000;
$link-decoration:           none;
$link-hover-color:          none;
$link-hover-decoration:     underline;


// grid
$grid-columns:                48;
$grid-gutter-width:           20px;

// Container max with -- remove and keep just on big screens
$container-max-widths: (
	// sm: 540px,
  // md: 720px,
  // lg: 960px,
  xl: 1280px // 1200 + 40 + 0 -- before xl: 1140px
) !default;
