//
// Main Index and Thumbnails template
// --------------------------------------------------




ul.thumb-container{
  margin: 0;
}


// hyper archive
.post-type-archive-hyper{
  #index {
      padding: 0px;
  }
}


// Year Separator
.year-separator{
  font-family: $font-family-sans-serif-2;
  font-weight: 800;
  text-align: left;
  font-size: 14px;
  margin: 40px 0;
  letter-spacing: 1px;
  font-style: italic;
  @media (max-width: $screen-xs-max) {
    margin: 60px 0;
  }
  .separator-wrapper{
    border-top: 2px solid $gray-dark;
    @media (max-width: $screen-xs-max) {
      padding-left: 20px;
    }

  }
}
.none-white-bg{
  .year-separator{
    color: $bg1;
    div{
      border-top: 2px solid $bg1;
    }
  }
}
.yarpp-related{
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  background-color: $magic-pink;
  padding-top: 40px;
  padding-bottom: 20px;
  h3 {
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 40px 40px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 800;
    background-color: transparent;
    letter-spacing: 1px;
    display: inline-block;
  }
  .year-separator{
    display: none!important;
  }
  .archive-navigation{
    display: none!important;
  }
}
// ___DEADTIVATED because of infinite load
// .date,.home,.post-type-archive-films {
//   .year-separator{
//     display: none;
//   }
// }
// .home.paged {
//   .year-separator{
//     display: block;
//   }
// }

// remove separator for Films section
.post-type-archive-films { //
  .year-separator{
    display: none;
  }
}

// Remove from home first page:
  .home {
    .year-separator{
      display: none;
    }
  }
  .home {
    &.paged {
      .year-separator{
        display: block;
      }
    }
  }

//Masory fix so it does not move items on loading
.item-sizer{
  height: 0px;
  position: absolute;
}

// Genreal thumbnail
li.item-post {
  display: block;
  float: left;
  padding-bottom: $grid-gutter-width;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 0px;
    margin-bottom: -1px;
  }

  // NEW ANIMATED
  figure {
    text-align: center;
    background-color: $bg1;
    a{
      outline: none;
      border: none;
      display: block;
      max-width: 100%;
      width: initial;
      .imgcontainer{
        margin-bottom: 30px;
        margin-bottom: 0px;
        background: #666;
        @include transition(background-color 1s ease-in-out);
        img{
          outline: none;
          border: none;
          display: block;
          max-width: 100%;
          width: initial;
          opacity: 0.80;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
        video {
          //position: fixed;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -100;
          transform: translateX(0%) translateY(0%);
          //background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
          background-size: cover;
          transition: 1s opacity;
          opacity: 0.8;
        }
      }
      figcaption{
        padding-left: ($grid-gutter-width/2);
        padding-right: ($grid-gutter-width/2);
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        bottom: 11%;
        @include transition(bottom 1s ease-in-out);
        left: 0;
        width: 100%;
        padding: 12px 50px 17px;
        background-color: transparent;
        @media (max-width: $screen-xs-max) {
          bottom: 7%;
        }

        .series{
          color: $bg1;
          font-family: $font-family-sans-serif-2;
          font-size: 11px;
          font-style: italic;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0px 0 6px 0;
        }
        h2{
          color: $bg1;
          // overflow: hidden; //it hides acentos
          font-weight: 800;
          font-size: 16px;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: 1px;
          margin: 0;
        }
        p.meta-info{
          color: $gray-darker;
          font-weight: 400;
          font-size: 11px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0;
          padding-bottom: 18px;
          text-align: center;
        }
        p{
          color: $gray-darker;
          font-size: 13px;
          font-weight: 400;
          margin: 0;
          margin-bottom: 6px;
        }
      }
    }
    box-shadow: 8px 8px 8px $magic-pink;
    //@include transition(background-color 1s ease);
    @include transition(box-shadow 1s ease);
    &:hover{
      .imgcontainer{
        background: $magic-pink;
        @include transition(background-color 1s ease-in-out);
        img{
          opacity: 0.6;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
      }
      box-shadow: 8px 8px 12px $magic-pink-light;
      //background-color: $magic-pink;
      @include transition(background-color 1s ease);
      @include transition(box-shadow 1s ease);
      figcaption{
        bottom: 40%!important;
        @include transition(bottom 1s ease-in-out);
        .series{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
        h2{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
      }
    }
  }
}


// Emulsion THumbnail
li.emulsion-thumb {
  figure {
    background: $yellow;
    a{

      figcaption{
        .series{
          color: $bg1;
        }
        h2{
          color: $bg1;
        }
      }
    }
    &:hover{
      .imgcontainer{
        background: $dark;
        @include transition(background-color 1s ease-in-out);
        img{
          opacity: 0.8;
        }
      }
      // figcaption{
      //   .series{
      //     color: $gray-dark;
      //     @include transition(color 1.5s ease);
      //   }
      //   h2{
      //     color: $gray-dark;
      //     @include transition(color 1.5s ease);
      //   }
      // }
    }
  }
}
// emulsion archive
.post-type-archive-emulsion{
  li.emulsion-thumb {
    figure{
      box-shadow: 8px 8px 8px $yellow;
      @include transition(box-shadow 1s ease);
      &:hover{
        box-shadow: 8px 8px 8px $bg1;
        @include transition(box-shadow 1s ease);
      }
    }
  }
}


// Dusk THumbnail
li.dusk-thumb {
  figure {
    background: $blue;
    a{

      figcaption{
        .series{
          color: $bg1;
        }
        h2{
          color: $bg1;
        }
      }
    }
    &:hover{
      .imgcontainer{
        background: $blue;
        @include transition(background-color 1s ease-in-out);
      }
      // figcaption{
      //   .series{
      //     color: $gray-dark;
      //     @include transition(color 1.5s ease);
      //   }
      //   h2{
      //     color: $gray-dark;
      //     @include transition(color 1.5s ease);
      //   }
      // }
    }
  }
}
// dusk archive
.post-type-archive-dusk{
  li.dusk-thumb {
    figure{
      box-shadow: 8px 8px 8px $blue;
      @include transition(box-shadow 1s ease);
      &:hover{
        box-shadow: 8px 8px 8px $blue-light; // dark blue // Dark lime is: #c0ca33
        @include transition(box-shadow 1s ease);
      }
    }
  }
}


// Remove the frame on the Emulsion and Dusk pages
// .post-type-archive-emulsion, .post-type-archive-dusk {
//   li{
//     figure {
//       a{
//         padding: 0% 0% 6%;
//       }
//     }
//   }
// }






// films THumbnail
li.films-thumb {
    //padding-bottom: 0px;
  figure {
    //border: 2px dashed;
    a{
      //padding: ($grid-gutter-width);

      .imgcontainer{
        margin-bottom: 0px;
        background: #666;
        @include transition(background-color 1s ease-in-out);
        img{
          opacity: 0.80;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
      }
      figcaption{
        .series{
          color: $bg1;
          //font-style: normal;
        }
        h2{
          color: $bg1;
        }
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        bottom: 11%;
        @include transition(bottom 1s ease-in-out);
        left: 0;
        width: 100%;
        padding: 12px 50px 17px;
        background-color: transparent;
        //@include transition(background-color 1.5s ease);
      }
    }

    &:hover{
      .imgcontainer{
        background: $magic-pink;
        @include transition(background-color 1s ease-in-out);
        img{
          opacity: 0.6;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
        video{
          opacity: 0.6;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
      }
      figcaption{
        bottom: 40%!important;
        @include transition(bottom 1s ease-in-out);
        .series{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
        h2{
          color: $bg1;
          @include transition(color 1.5s ease);
        }

      }
    }
  }
}

// films archive
.post-type-archive-films{
  #index {
      padding: 0px;
      // padding-bottom: 40px;
  }
  li.films-thumb {
    padding-bottom: 0px;
    figure {
      box-shadow: none;
      figcaption{
        bottom: 4%;
      }

    }
  }
}




// Hyper THumbnail
li.hyper-thumb {
    //padding-bottom: 0px;
  figure {
    //border: 2px dashed;
    a{
      //padding: ($grid-gutter-width);

      .imgcontainer{
        margin-bottom: 0px;
        background: #666;
        @include transition(background-color 1s ease-in-out);
        img{
          opacity: 0.80;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
      }
      figcaption{
        .series{
          color: $bg1;
          //font-style: normal;
        }
        h2{
          color: $bg1;
        }
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        bottom: 11%;
        @include transition(bottom 1s ease-in-out);
        left: 0;
        width: 100%;
        padding: 12px 50px 17px;
        background-color: transparent;
        //@include transition(background-color 1.5s ease);
      }
    }

    &:hover{
      .imgcontainer{
        background: $deep-purple;
        @include transition(background-color 1s ease-in-out);
        img{
          opacity: 0.6;
          -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }
      }
      figcaption{
        bottom: 40%!important;
        @include transition(bottom 1s ease-in-out);
        .series{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
        h2{
          color: $bg1;
          @include transition(color 1.5s ease);
        }

      }
    }
  }
}

// hyper archive
.post-type-archive-hyper{
  #index {
      padding: 0px;
      padding-bottom: 40px;
  }
  li.hyper-thumb {
    padding-bottom: 0px;
    figure {
      box-shadow: none;
      figcaption{
        bottom: 4%;
      }

    }
  }
}





// LOG
li.log-thumb {
  figure {
      background-color: $bg1;
    a{
      padding: 45px 40px 40px;

      img{
      }
      figcaption{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        .series{
          color: $magic-pink;
          margin-bottom: 18px;
        }
        h2{
          color: $magic-pink;
          line-height: 2;
          .branch{
            display: none;
          }
        }
        p{
        }

      }
    }
    @include transition(all 1s ease-out);
    &:hover{
      background-color: $magic-pink;
      @include transition(all 1s ease-out);
      figcaption{
        .series{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
        h2{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
      }
    }
  }
}

li.log-thumb.post-group {
  figure {
      background-color: $bg1;
      padding: 45px 40px 40px;
      figcaption{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        .series{
          font-family: $font-family-sans-serif-2;
          font-size: 11px;
          font-style: italic;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0px 0 6px 0;
          color: $magic-pink;
          margin-bottom: 18px;
        }
        a{
          padding: 0;
          h2{
            color: $magic-pink;
            // overflow: hidden; //it hides acentos
            font-weight: 800;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: 1px;
            margin: 0;
            color: $magic-pink;
            line-height: 2;
            .branch{
              @media (min-width: $screen-sm-min) {
                display: none;
              }
            }
          }
          &:hover{
            h2{
              .branch{
                @media (min-width: $screen-sm-min) {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    @include transition(all 1s ease-out);
    &:hover{
      background-color: $magic-pink;
      @include transition(all 1s ease-out);
      figcaption{
        .series{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
        h2{
          color: $bg1;
          @include transition(color 1.5s ease);
        }
      }
    }
  }
}


.archive-navigation{
    text-align: right;
    margin-bottom: 60px;
    @media (min-width: $screen-sm-min) {
      padding-left: 40px;
      padding-right: 40px;

    }

  .more-sets{

  }
  .nav-previous,.nav-next,.more-sets{

    a{
      text-transform: uppercase;
      color: $bg1;
      border-bottom: 2px solid $bg1;
      font-size: 16px;
      margin-left: 13px;
      padding: 2px 5px 0 6px;
      line-height: 1.3;
      font-weight: 800;
      background-color: transparent;
      letter-spacing: 1px;
      @include transition(all 1s ease-out);
      &:hover{
        background-color: $magic-pink;
        border-bottom: 2px solid transparent;
        @include transition(all 1s ease-out);
      }
    }
  }
}
.front-hyper{
  margin-bottom: 20px;
  margin-top: 60px;
  .archive-navigation{
    margin-top: 20px;
  }
}


.header-ligh{
  .archive-navigation{
    .nav-previous,.nav-next,.more-sets{
      a{
        color: $gray-dark;
        border-bottom: 2px solid $gray-dark;

        @include transition(all 1s ease-out);
        &:hover{
          color: $bg1;
          background-color: $gray-dark;
          border-bottom: 2px solid transparent;
          @include transition(all 1s ease-out);
        }
      }
    }
  }
}
.lime{
  .archive-navigation{
    .nav-previous,.nav-next,.more-sets{
      a{
        @include transition(all 1s ease-out);
        &:hover{
          background-color: $lime;
        }
      }
    }
  }
}
.lime{
  .archive-navigation{
    .nav-previous,.nav-next,.more-sets{
      a{
        @include transition(all 1s ease-out);
        &:hover{
          background-color: $lime;
        }
      }
    }
  }
}
.lime{
  .archive-navigation{
    .nav-previous,.nav-next,.more-sets{
      a{
        @include transition(all 1s ease-out);
        &:hover{
          background-color: $lime;
        }
      }
    }
  }
}
