//
// Front Header and Slider
// --------------------------------------------------



#collapseMenu{
  position: fixed;
  z-index: 999;
  background: inherit;
  overflow: hidden;
  list-style: none;
  font-family: $font-family-menu;
  .row{
    padding-top: 73px;
    height: 100vh;
    overflow:scroll;
      .menu-group{
      padding-bottom: $grid-gutter-width*2;
      // margin-bottom: auto;
      ul{
        list-style: none;
        li{
          margin-left: none;
          margin-bottom: $font-size-heading/2;
          //text-align: right;
          font-size: $font-size-menu;
          .active{
            text-decoration: underline;
          }
          li{
            margin-left: $grid-gutter-width;
          }
        }
      }
    }
  }
}

// Display Hide and reveal
[aria-expanded="false"]{
  .hide{
    display: none;
  }
}
[aria-expanded="true"]{
  .reveal{
    display: none;
  }
}

#site-header {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  position: fixed;
  z-index: 1000;
  top: 0px;
  font-family: $font-family-menu;

  // .slicknav_menu {
  .slicknav_menutxt {
    display: none;
  }
  .slicknav_nav.slicknav_hidden {
    display: block!important;
  }
  .topbar-left{
    float: left;
    h1,a{
      font-size: $font-size-nav;
      font-family: $font-family-menu;
    }
  }
  #topbar,
  .slicknav_nav {
    float: right;
    text-align: right;
    a {
      text-align: right;
      margin: 0;
      position: relative;
      display: inline-block;
      outline: none;
      color: $white;
      //text-decoration: none;

      font-size: $font-size-nav;


      margin-left: 13px;
      /*border: 2px solid transparent;*/
      line-height: 1.3;
      &:hover {
        &::before,
        &::after {
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }
      }
      &:focus {
        &::before,
        &::after {
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }
      }
    }
  }

  //Mobile
  @media (max-width: map-get($grid-breakpoints, sm)) {
    padding-bottom: 20px;
  }
  .header-other-pages-title {
    display: none!important;
  }




  //Display Size
  @media (min-width: map-get($grid-breakpoints, md)) {


  }
}

// Mobile
@media (max-width: map-get($grid-breakpoints, md)) {
  #site-header {
    background-color: transparent;
  }
  .home {
    #site-header {
      background: transparent;
    }
  }
}

.background-w-light-color {
  #site-header {
    h1 {
      a {
        color: $dark;
        @include transition(all 1s ease-out);
        &:hover {
          @include transition(all 1s ease-out);
        }
      }
    }
    // NAV MENU
    @media (max-width: map-get($grid-breakpoints, md)) {
      // After Javascript
      .slicknav_menu {
        .slicknav_btn {
          .slicknav_menutxt {
            color: $dark;
          }
        }
        .slicknav_nav {
              a {
                color: $dark;
              }
          .slicknav_row:hover {
            color: $dark;
          }
          a:hover {}
          .slicknav_txtnode {}
        }
        * {
          box-sizing: border-box;
        }
      }
    }
      #topbar,.topbar-left,
      .slicknav_nav {
            a,h1 {
              color: $dark;
              &:hover {
                &::before,
                &::after {
                  opacity: 1;
                  -webkit-transform: translateX(0px);
                  -moz-transform: translateX(0px);
                  transform: translateX(0px);
                }
              }
              &:focus {
                &::before,
                &::after {
                  opacity: 1;
                  -webkit-transform: translateX(0px);
                  -moz-transform: translateX(0px);
                  transform: translateX(0px);
                }
              }
            }
      }
  }
}

.tiagsssss-color {
  #site-header {
    #topbar,.topbar-left,
    .slicknav_nav,{
          a,h1 {
            color: $dark;
            @media (prefers-color-scheme: dark) {
            color: $white;
            }
          }
    }
  }
}
.tiagsssss-color {
  #collapseMenu {
    a,h1 {
      color: $dark;
      @media (prefers-color-scheme: dark) {
      color: $white;
      }
    }
  }
}

// Make it white for color backgrounds
.background-w-dark-color,
.background-w-dark-color-header {
  a,h1{
    color: $white;

  }
}
