//
// Footer
// --------------------------------------------------

#social-block{
  background: $yellow;
  padding-top: 40px;
  padding-bottom: 40px;
  h3 {
    color: $magic-pink;
    border-bottom: 2px solid $magic-pink;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 800;
    background-color: transparent;
    letter-spacing: 1px;
    display: inline-block;
  }
  p{
    color: $magic-pink;
    font-weight: 800;
    font-style: italic;
    
    a{
      color: $magic-pink;
    }
  }
  ul {
    padding:0;
    list-style:none;
    display:block;
    margin-bottom: 27px;
    li {
      display:inline-block;
      margin-bottom: 13px;
      margin-right: 13px;
      a {
        position: relative;
        outline: none;
        color: $bg1;
        background-color: $magic-pink;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $font-family-sans-serif-2;
        font-weight: 800;
        font-size: 14px;
        margin-right: 13px;
        border-bottom: 2px solid $magic-pink;
        padding: 2px 4px 0 4px;
        line-height: 1.3;
        margin: 0px;
        @media (min-width: $screen-sm-min) {
          
        }
        @include transition(all 1s ease-out);
        &:hover{
          background-color: $bg1;
          color: $magic-pink;
          @include transition(all 1s ease-out);
        }
      }
    }
  }
  .email-form{
    margin-bottom: 40px;
    form{
      margin-bottom: 10px;
      input.input-field{
        width: 240px;
        background: $bg1;
        color: $magic-pink;
        padding: 4px 6px;
        border-width: 0px;
        border-style: inset;
        border-color: $bg1;
        border-image: initial;
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 10px;
        @media (min-width: $screen-sm-min) {
          margin-bottom: 0px; 
        }
      }
      input.input-field::placeholder {
        color: $magic-pink;
        font-weight: 800;
        font-style: italic;
        font-size: 14px;
      }
      input.input-button{
        background: $magic-pink;
        color: $bg1;
        padding: 4px 6px;
        border-width: 0px;
        border-style: inset;
        border-color: $bg1;
        border-image: initial;
        font-weight: 800;
        font-style: italic;
        font-size: 14px;
        border-radius: 0px;
      }
    }
    p{
      font-size: 12px;
    }
  }
}

// use Lime on the Yellow layouts
  // .yellow{
  //   #social-block{
  //     background: $lime;
  //     ul {
  //       li {
  //         a {
  //           color: $lime;
  //           &:hover{
  //             background-color: $lime;
  //           }
  //         }
  //       }
  //     }
  //   } 
  // }

#footer-block{
	background: $magic-pink;
	padding-top: 40px;
  .attribution{
  	font-size: 14px;
  	margin-bottom: 38px;
    text-transform: uppercase;
  	p{
  		font-weight: 800;
  		color: $bg1;
      font-style: italic;
      font-size: 12px;
  		a{
  			font-weight: 800;
  		  color: $bg1;
  		}
  	}
  }
}