// Add same side spacement than betwene thumbnails
// had this tag on container-fluid element
// added by me

  .side-padding, .container{
	@media (max-width: map-get($grid-breakpoints, sm)) {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	@media (min-width: map-get($grid-breakpoints, sm)) {
	    padding-left: 40px;
	    padding-right: 40px;
    }
  }

// Remove Thumbnails grid on mobile
.series-block{
    @media (max-width: map-get($grid-breakpoints, sm)) {
	    padding-left: 0px;
	    padding-right: 0px;
	    padding-bottom: 40px;
  }
}

body {
	font-size: 14px;
}
