// // Overiding Plyr JS original css
//
//
// // GENERAL Audio overide
//
$plyr-tab-focus-default-color: none !default;
$plyr-color-main: transparent !default;
$plyr-audio-control-bg-hover: $plyr-tab-focus-default-color !default;

.plyr--audio .plyr__controls {
    background: transparent;
    color: $dark;
}

.plyr {
    font-family: $font-family-sans-serif;
    width: 100%;
}
audio{
    width: 100%;
}

.plyr__time {
    font-size: 16px;
}

.plyr__tooltip {
    box-shadow: none;
    line-height: 1;
}

// Audio control
.background-w-light-color{
    .plyr--audio .plyr__control {
        color: $dark;
        &.plyr__tab-focus,
        &:hover,
        &[aria-expanded='true'] {
            background: none!important;
            color: $dark;
        }
    }
    @mixin plyr-tab-focus($color: $dark) {
        box-shadow: none;
        outline: 0;
    }

    .plyr--audio {
        .plyr__controls {
            color: $dark;
        }
        .plyr__tooltip {
            background: transparent;
            color: $dark;
            font-size: 16px;
            font-weight: $font-weight-normal;
            &::before {
              //  border-top: $plyr-tooltip-arrow-size solid $dark;
            }
        }
    }
    .plyr--full-ui input[type='range'] {

        color: $dark;
    width: 98%;
    }
}

// Audio control
.plyr--audio .plyr__control {
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
        background: transparent;
    }
}

// Overide with background-w-dark-color // E.g.: Blue or dark grey
.background-w-dark-color{
    .plyr--audio .plyr__controls {
        color: $white;
        &.plyr__tab-focus,
        &:hover,
        &[aria-expanded='true'] {
            background: none!important;
            color: $white;
        }
    }
    @mixin plyr-tab-focus($color: $plyr-tab-focus-default-color) {
        box-shadow: none;
        outline: 0;
    }

    .plyr--audio {
        .plyr__controls {
            color: $white;
        }
        .plyr__tooltip {
            background: transparent;
            color: $white;
            font-size: 16px;
            font-weight: $font-weight-normal;
            // &::before {
            //     border-top: $plyr-tooltip-arrow-size solid $white;
            // }
        }
    }

    .plyr--full-ui input[type='range'] {
        color: $white;
        width: 98%;
    }
}

.plyr__progress {
  //  margin-right: var(--plyr-range-thumb-height,20px);
    width: 100%;
}


// INSIDE post-content
.post-content{
    .plyr--audio .plyr__controls {
        padding-left: 0;
        padding-right: 0;

        > .plyr__control:first-child,
        > .plyr__control:first-child + [data-plyr='pause'] {
            padding-left: 0;
        }

        .plyr__volume {
            display: none;
        }
        .plyr__menu {
            display: none;
        }
    }
}



// Inside a gallery
.thumbnail.media-audio{
        .plyr{
            position: absolute;
            bottom: 0;
        }
    .plyr--audio .plyr__controls {

        .plyr__volume {
            display: none;
        }
        .plyr__menu {
            display: none;
        }
        .plyr__time {
            display: none;
        }
    }
}
