//
// Single Content Style
//
// -- ( used af Single and Archive Log )
//
// --------------------------------------------------

// Enable mobile focus on content
@media (max-width: map-get($grid-breakpoints, sm)) {
  .post-block{
    min-height: 75vh;
  }
}



.container-video {
    margin-bottom: $grid-gutter-width*1.5;
    padding-right: 0px;
    padding-left: 0px;
}

.player {
  .captions {
    >span {
      font-size: 0.9em !important;
      color: $yellow !important;
      line-height: 1.3em;
      margin-bottom: 0.8em;
      background: none;
      border-radius: 0px;
      padding: 0.2em .3em .3em;
    }
  }
}

.single-content{
  //margin-bottom: $grid-gutter-width*1.5;
  .page-header{
    h1.single-title{
      margin-top: 0;
      margin-bottom: $grid-gutter-width;
      font-size: $font-size-heading;
      color: $dark;
      a {
        color: $dark;
      }
    }
    p.meta{
      margin-bottom: $font-size-heading;
      //text-transform: lowercase;
      font-size: 12px;
      display: none;

    }

  }
  section.post-content{
    p{
        // text-align: justify;
          color: $dark;

      a{
        // color: $tiagsssss-color;
        text-decoration: underline;
          color: $dark;

      }
    }
    ol, ul, dl {
        padding: $grid-gutter-width;

          color: $dark;

    }
    margin-bottom: $grid-gutter-width;

  }
  footer{
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

      color: $dark;
    p.footer-meta{
      margin-bottom: 0px;
      font-size: $font-size-heading;
      font-family: $font-family-headings;
      line-height: 1.3em;

        color: $dark;
      a{
        &:hover{

        }
      }
    }
    ul{
      margin-bottom: $grid-gutter-width;
      li{
        display: inline-block;
        margin: 0 5px 7px 0px;
        line-height: 1;

          color: $dark;

        a{

            color: $dark;

          background-color: $dark;
          padding: 3px 5px 2px;
          font-style: normal;
          font-size: 11px;


          @include transition(all 1s ease-out);
          &:hover{
            color: $dark;

            background-color: $white;
            @include transition(all 1s ease-out);
          }
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, sm)) {
  .post-type-archive-log,.tax-log-branch{
    .single-content{
      .page-header{
        h1.single-title{
          font-size: $font-size-p;
          a {
          }
        }
        p.meta{

        }
      }
      section.post-content{
        p{
          a{
          }
        }
        ol, ul, dl {
        }
      }
      footer{
        p.footer-meta{
          font-size: $font-size-p;
          a{
            &:hover{
            }
          }
        }

      }
    }
  }
}

.tiagsssss-color, .white-darkmode{
  .single-content{
    //margin-bottom: $grid-gutter-width*1.5;
    .page-header{
      h1.single-title{
        @media (prefers-color-scheme: dark) {
            color: $white;
        }
        a {
          @media (prefers-color-scheme: dark) {
              color: $white;
          }
        }
      }
      p.meta{
      }
    }
    section.post-content{
      h1,h2,h3,h4,h5,p{
            @media (prefers-color-scheme: dark) {
                color: $white;
            }
        a{
            @media (prefers-color-scheme: dark) {
                color: $white;
            }
        }
      }
      ol, ul, dl {
            @media (prefers-color-scheme: dark) {
                color: $white;
            }
      }

    }
    footer{

        @media (prefers-color-scheme: dark) {
            color: $white;
        }
      p.footer-meta{

          @media (prefers-color-scheme: dark) {
              color: $white;
          }
        a{
          &:hover{

          }
        }
      }
      ul{
        li{
            @media (prefers-color-scheme: dark) {
                color: $white;
            }
          a{
              @media (prefers-color-scheme: dark) {
                  color: $white;
              }
            &:hover{
              @media (prefers-color-scheme: dark) {
                  color: $white;
              }
            }
          }
        }
      }
    }
  }
}

// Content dark Background
.background-w-dark-color{
  .single-content{
    .page-header{
      h1.single-title{
        color: $white;
        a {
          color: $white;
        }

      }
      p.meta{
        color: $white;
        a{
          color: $white;
        }
      }
    }
    section.post-content{
      p{
        color: $white;
        a{
          color: $white;
          border-bottom: 1px solid transparent;

          @include transition(all 1s ease-out);
          &:hover{
            text-decoration: none;
          }
        }
      }
      margin-bottom: $grid-gutter-width;
    }
    footer{
      p.footer-meta{
        color: $white;
        a{
          color: $white;
        }
      }
    }
  }
}

// Content white responsive to dark mode
.white-darkmode{
  .single-content{
    .page-header{
      h1.single-title{

      }
      p.meta{
        @media (prefers-color-scheme: dark) {
            color: $white;
        }
        a{
          @media (prefers-color-scheme: dark) {
              color: $white;
          }
        }
      }
    }
    section.post-content{
      p{
        a{
          @media (prefers-color-scheme: dark) {
              color: $white;
          }


          @include transition(all 1s ease-out);
          &:hover{
            text-decoration: none;
          }
        }
      }
      margin-bottom: $grid-gutter-width;
    }
    footer{
      p.footer-meta{
        a{
          @media (prefers-color-scheme: dark) {
              color: $white;
          }
        }
      }
    }
  }
}


// Tags matching colors and Single Navigation links
.tiagsssss-color{
  .single-content{
    footer{
      ul{
        li{
          a{
            color: $tiagsssss-color;
            background-color: $white;
            @include transition(all 1s ease-out);
            &:hover{
              color: $white;
              background-color: $tiagsssss-color;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}
.dark{
  .single-content{
    section.post-content{
      p{
        a{
          color: $white;
          @include transition(all 1s ease-out);
          &:hover{
            @include transition(all 1s ease-out);
          }
        }
      }
      margin-bottom: $grid-gutter-width;
    }
    footer{
      ul{
        li{
          a{
            color: $dark;
            background-color: $white;
            @include transition(all 1s ease-out);
            &:hover{
              color: $white;
              background-color: $dark;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}
.tiagsssss-color{
  .single-content{
    footer{
      ul{
        li{
          a{
            color: $tiagsssss-color;
            background-color: $white;
            @include transition(all 1s ease-out);
            &:hover{
              color: $white;
              background-color: $tiagsssss-color;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}
.indigo{
  .single-content{
    footer{
      ul{
        li{
          a{
            color: $indigo;
            background-color: $white;
            @include transition(all 1s ease-out);
            &:hover{
              color: $white;
              background-color: $indigo;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}
.blue{
  .single-content{
    footer{
      ul{
        li{
          a{
            color: $blue;
            background-color: $white;
            @include transition(all 1s ease-out);
            &:hover{
              color: $white;
              background-color: $blue;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}
.lime{
  .single-content{
    footer{
      ul{
        li{
          a{
            color: $lime;
            background-color: $dark;
            @include transition(all 1s ease-out);
            &:hover{
              color: $dark;
              background-color: $lime;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}
.yellow{
  .single-content{
    footer{
      ul{
        li{
          a{
            color: $yellow;
            background-color: $dark;
            @include transition(all 1s ease-out);
            &:hover{
              color: $dark;
              background-color: $yellow;
              @include transition(all 1s ease-out);
            }
          }
        }
      }
    }
  }
}



// Content on Log
.post-type-archive-log,.single-log,.tax-log-branch{
  .single-content{
    .page-header{
      h1.single-title{
        //text-transform: lowercase;
      }
      p.meta{
        a{
        }
      }
      .post-content{
        p{
        }
      }
    }
  }
}

// Content on Log Archive
.post-type-archive-log,.tax-log-branch{
  .single-content{
      margin-bottom: 100px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
          margin-bottom: 40px;
      }
    .page-header{
      h1.single-title{
      }
      p.meta{
        a{
        }
      }
      .post-content{
        p{
        }
      }
    }
  }
}

.single-navigation{
  nav.nav-previous{
    text-align: right;
  }
  .nav-previous,.nav-next,{
    margin-bottom: $grid-gutter-width;
    span{
      a{
        font-family: $font-family-headings;
        font-size: $font-size-heading;
        line-height: 1.3;
        background-color: transparent;
        @include transition(all 1s ease-out);
        &:hover{
          @include transition(all 1s ease-out);
        }
      }
    }
  }
}
.background-w-dark-color{
  .single-navigation{
    .nav-previous,.nav-next,{
      span{
        a{
          color: $white;
          &:hover{
          }
        }
      }
    }
  }
}

// links pages
.page-template-page-links-php{
  #site-header{
    display: none;
  }
  .single-content{
    .page-header{
      display: none;
    }
  }
}
