// Background colors
.brand-color{
	background-color: $brand-color;
}
.brand-color-heading{
	color: $lime;
}

.dark{
	background-color: $dark;
}
.dark-heading{
	color: $brand-color;
}

.indigo{
background-color: $indigo;
}
.indigo-heading{
	color: $yellow;
}

.brand-color{
	background-color: $brand-color;
}
.brand-color-heading{
	color: $blue;
}

.blue{
	background-color: $blue;

}
.blue-heading{
	color: $brand-color;
}

.lime{
	background-color: $lime;

}
.lime-heading{
	color: $lime;
}

.yellow{
	background-color: $yellow;

}
.yellow-heading{
	color: $indigo;
}

.earth{
	background-color: $earth;
}
.sky{
	background-color: $sky;
}
