// Background colors
.magic-pink{
	background-color: $magic-pink;
}
.magic-pink-heading{
	color: $lime;
}

.dark{
	background-color: $dark;
}
.dark-heading{
	color: $magic-pink;
}

.indigo{
background-color: $indigo;
}
.indigo-heading{
	color: $yellow;
}

.deep-purple{
	background-color: $deep-purple;
}
.deep-purple-heading{
	color: $blue;
}

.blue{
	background-color: $blue;

}
.blue-heading{
	color: $magic-pink;
}

.lime{
	background-color: $lime;

}
.lime-heading{
	color: $deep-purple;
}

.yellow{
	background-color: $yellow;

}
.yellow-heading{
	color: $indigo;
}
