$color_1: #fff;
$background_color_2: rgba(43, 51, 63, 0);
$background_color_4: rgba(255, 255, 255, 0.2);


.video-js.video-skin-trouble {
	font-size: $font-size-base;
	color: $color_1;
	font-family: $font-family-base;

	// FONTS
	.vjs-error {
		.vjs-error-display {
			.vjs-modal-dialog-content {
				font-family: $font-family-base;
			    font-size: 16px;
			    
			}
			&:before {
				font-family: $font-family-base;
				text-shadow: 0 0 1em $black;
				top: 20%;
			}
		}
	}
	.vjs-menu {
		.vjs-menu-content {
			font-family: $font-family-base;
		}
	}
	.vjs-no-js {
		font-family: $font-family-base;
	}

	// LOADING ANIMATION
	.vjs-loading-spinner {
	}

	// BIG PLAY BUTTON
	.vjs-big-play-button {
		width: 128px;
		height: 128px;
		line-height: 120px;
		border: 0;
		border-radius: 50%;
		text-shadow: none;
		left: 50%;
		top: 50%;
		margin: -60px 0 0 -60px;
		font-size: 60px;
		background: none; /// REMOVES CIRCLE rgba(255, 255, 255, 0.7);
		border: 6px solid $color_1;
		&:focus {
			background: $background_color_4;
		}
		&:before {
			color: $color_1;
		}
	}
	&:hover {
		.vjs-big-play-button {
			background-color: $background_color_2;
		}
	}

	// LOADING ANIMATION
	.vjs-loading-spinner {
	    border: 6px solid rgba(255, 255, 255, 0.7);
	}

	.vjs-control {
	    width: 62px;
	    text-shadow: 0 0 1em $black;
		&:before {
			font-size: 22px;
			line-height: 60px;
		}
		&:focus {
			text-shadow: 0 0 1em $black;
		}
	}

	// CONTROL BAR
	.vjs-control-bar {
		background-color: $background_color_2;
		height: 60px;
		padding: 0 0px;
		@media (min-width: map-get($grid-breakpoints, sm)) {
			padding: 0 14px;
		}
	}
	.vjs-menu-button {
		.vjs-menu-content {
			background-color: $background_color_2;
		}
	}
	.video-js .vjs-progress-holder {
	    height: 8px;
	}

	.vjs-slider {
		background-color: $background_color_4;
		box-shadow: 0 0 1em rgba(51, 51, 51, 0.4);
	}

	// VOlUME CONTROL
	.vjs-volume-bar {
		background: $background_color_4!important;
		margin-top: 28px;
	}
	.vjs-volume-level {
		background: $color_1;
		&:before {
			display: none;
		}
	}

	// PROGRESS TIME CONTROL
	.vjs-progress-control {
			&:hover {
				.vjs-mouse-display {
					&:after {
						font-family: $font-family-base;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						border-radius: 0;
						background: $background_color_4;
						color: #fff;
						font-size: 16px;
					}
				}
				.vjs-play-progress {
					&:after {
						font-family: $font-family-base;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						border-radius: 0;
						background: $background_color_4;
						color: #fff;
						font-size: 16px;

					}
				}
				.vjs-time-tooltip {
					font-family: $font-family-base;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					background: $background_color_4;
					color: #fff;
					font-size: 16px;

				}
			}
		}


	.vjs-play-progress {
		background: $color_1;
	}
	.vjs-slider-bar {
		background: $color_1;

		margin-top: 28px;
	}
	.vjs-play-progress {
		&:before {
			display: none;
		}
	}
	.vjs-load-progress {
		background: #bfc7d3;
		background: $background_color_4;
		div {
			background: rgba(255, 255, 255, 0.2);
		}
	}

	// Resoltuion Options
	.vjs-menu {
		.vjs-menu-content {
			bottom: 40px;
			li{
				float: none;
				display: block;
				font-size: 16px;
			}
			li.vjs-menu-title {
			    display: none!important;
			}
			li.vjs-selected {
				background-color: $background_color_4;
				color: #fff;
			    text-shadow: none;
			    width: 75px;
			    margin: 0 auto;
				&:focus {
					background-color: $background_color_4;
				    width: 75px!important;
				    margin: 0 auto!important;
				}
				&:hover {
					background-color: $background_color_4;
				    width: 75px!important;
				    margin: 0 auto!important;
				}
			}
			li.vjs-menu-item {
				&:focus {
					background-color: $background_color_4;
				    width: 75px!important;
				    margin: 0 auto!important;
				}
				&:hover {
					background-color: $background_color_4;
				    width: 75px!important;
				    margin: 0 auto!important;
				}
			}
		}
	}


	.vjs-time-control {
	    font-size: 16px;
	    line-height: 60px;
	}
}

// Remove big button once video stop in the meadle
.video-js.video-skin-trouble.vjs-has-started {
	.vjs-big-play-button {
		display: none!important;
	}
}














/*

$color_1: $black;
$color_2: #fff;



.video-js.video-skin-trouble {
	.vjs-control-bar {
		background: rgba(255, 255, 255, 0.8);
		height: 40px;
		display: block;
		padding: 0 70px 0 0;
	}
	.vjs-big-play-button {
		width: 120px;
		height: 120px;
		line-height: 120px;
		border: 0;
		border-radius: 50%;
		text-shadow: none;
		left: 50%;
		top: 50%;
		margin: -60px 0 0 -60px;
		font-size: 60px;
		background: rgba(255, 255, 255, 0.7);
		&:focus {
			background: rgba(255, 255, 255, 0.1);
		}
		&:before {
			color: $color_1;
		}
	}
	&:hover {
		.vjs-big-play-button {
			background: rgba(255, 255, 255, 0.1);
		}
	}
	.vjs-control {
		display: inline-block;
		float: left;
		&:focus {
			text-shadow: none;
			&:before {
				text-shadow: none;
			}
		}
		&:hover {
			text-shadow: none;
			&:before {
				text-shadow: none;
			}
		}
		&:before {
			font-size: 20px;
			line-height: 40px;
			color: $color_1;
		}
	}
	.vjs-time-divider {
		display: inline-block;
		float: left;
		color: $color_1;
		padding: 0;
		min-width: 0;
	}
	.vjs-time-control {
		line-height: 40px;
		font-size: 12px;
		color: $color_1;
	}
	.vjs-current-time {
		margin-left: 0;
		width: auto;
		min-width: 0;
		color: $color_1;
		padding: 0 8px;
	}
	.vjs-duration {
		width: auto;
		min-width: 0;
		color: $color_1;
		padding: 0 8px;
		color: $color_1;
	}
	.vjs-remaining-time {
		display: none;
	}
	.vjs-play-control {
		width: 40px;
		&:before {
			color: $color_1;
		}
	}
	.vjs-fullscreen-control {
		float: right;
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
	}
	.vjs-volume-menu-button {
		float: right;
		margin: 0 40px 0 0;
		overflow: visible;
	}
	.vjs-playback-rate {
		.vjs-playback-rate-value {
			line-height: 40px;
			font-size: 12px;
			position: static;
		}
	}
	.vjs-menu-button-popup {
		.vjs-menu {
			.vjs-menu-content {
				bottom: 50px;
				background: rgba(0, 0, 0, .5);
				padding: 5px 0;
				max-height: none;
			}
		}
	}
	.vjs-load-progress {
		background: rgba(0, 0, 0, .25);
	}
	.vjs-play-progress {
		&:after {
			background: 0 0;
			color: $color_1;
		}
		background: #fff;
		border-radius: 0px;
		&:before {
			top: -5px;
			font-size: 18px;
			text-shadow: 0 3px 5px rgba(0, 0, 0, .15);
		}
	}
	.vjs-progress-control {
		position: absolute;
		left: 0;
		bottom: 25px;
		height: 0;
		width: 100%;
		padding: 0 150px 0 200px;
	}
	.vjs-slider {
		margin: 0;
		background: rgba(0, 0, 0, .25);
	}
	.vjs-progress-holder {
		width: auto;
		height: 10px;
		border-radius: 0px;
		.vjs-load-progress {
			height: 10px;
			border-radius: 0px;
			div {
				height: 10px;
				border-radius: 0px;
				background: rgba(130, 130, 130, .2);
			}
		}
		.vjs-play-progress {
			height: 10px;
			border-radius: 0px;
		}
	}
	.vjs-menu-button-inline {
		width: 30px;
		margin: 0;
		&:before {
			display: none;
		}
		.vjs-menu {
			display: block;
			opacity: 1;
			visibility: visible;
			top: 16px;
			margin-left: 5px;
			left: 0;
		}
	}
	.vjs-volume-bar {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25) 50%, transparent 50%, transparent);
		background-size: 20px 5px;
		background-position: bottom;
	}
	.vjs-volume-bar.vjs-slider-vertical {
		width: 2em;
		.vjs-volume-level {
			width: 2em;
			background: linear-gradient(to bottom, #fff, #fff 50%, transparent 50%, transparent);
			background-size: 20px 5px;
			background-position: bottom;
			&:before {
				display: none;
			}
		}
	}
	.vjs-volume-bar.vjs-slider-horizontal {
		width: 90px;
		height: 6px;
		border-radius: 0px;
		.vjs-volume-level {
			height: 6px;
			border-bottom-left-radius: 0px;
			border-top-left-radius: 0px;
			position: static;
			background: #fe3638;
			&:before {
				top: -5px;
				font-size: 18px;
				text-shadow: 0 3px 5px rgba(0, 0, 0, .15);
				float: right;
				position: static;
				top: -.33333333em;
				right: -3.33333333em;
				font-size: 1.9em;
				margin-right: -10px;
				margin-top: -7px;
				content: '\f111';
			}
		}
	}
}

.video-js {
	overflow: hidden;
	max-width: 100%;
	.vjs-mouse-display {
		&:after {
			padding: 4px 7px;
			top: -25px;
		}
	}
	.vjs-play-progress {
		&:after {
			padding: 4px 7px;
			top: -25px;
		}
	}
	.vjs-time-tooltip {
		padding: 4px 7px;
		top: -25px;
	}
}



@media (max-width:600px) {
	.video-js.video-skin-trouble {
		.vjs-progress-control {
			padding: 0;
			bottom: 90px;
		}
		.vjs-progress-holder {
			border-radius: 0;
			.vjs-play-progress {
				border-radius: 0;
			}
		}
	}
}


*/
