//
// gallery styles
// --------------------------------------------------


#archive-log {
	article{
		margin-bottom: 120px;
		header{
			height: auto;
			margin-bottom: 40px;
			h2.post-title{
				font-size: 25px;
				font-weight: 400;
				letter-spacing: 1px;
			}
			p.meta-header{
				letter-spacing: 1px;

			}
			section.post{

			}
			
		}
		p.meta-footer{
			letter-spacing: 1px;
		}

	}
}